@keyframes color-change {
    0% {
        color: blue;
      }

      50% {
        color: red;
      }
  
      100% {
        color: blue;
      }
  }


h1{

      animation: color-change 3s infinite;
}

@keyframes color-change2 {
      0% {
          color: rgb(255, 0, 217);
        }
  
        50% {
          color: rgb(0, 255, 234);
        }
    
        100% {
          color: rgb(153, 255, 0);
        }
    }
h2{
      animation: color-change2 3s infinite; 
}
